.option{
    height: 40px;
    margin-right: 10px;
    font-size: 35px;
    vertical-align: 20px;

}

.optionIpt{
    border: 1px solid gray;
    border-radius: 10px;
    height: 75px;
    width: 65%;
    display: inline-block;
    margin-top: 20px;
    margin-right: -7px;
}

.bnt{
    width: 78%;
    height: 85px;
    background: #00BFFF;
    color: white;
    margin-top: 30px;
    line-height: 76px;
}
