page {
  background: #F9F9F9;
}
.user-and-password Input {
  margin-left: 24px;
  margin-right: 30px;
}
.user-and-password Input::placeholder {
  padding-left: 6px;
  font-size: 10px;
}
.user-number {
  margin: 50px auto;
  padding: 15px;
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 60px;
  background: #fff;
  line-height: 66px;
}
.user-password {
  margin: 50px auto;
  padding: 15px;
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 60px;
  background: #fff;
  line-height: 66px;
}
.bind {
  margin: 10px auto;
  padding: 10px 0;
  width: 80%;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #4384F6;
  line-height: 66px;
  border-radius: 60px;
}
