page{
    background: #F5F5F5
 }
 
.head-image{
    margin: auto;
    text-align: center;
    margin-bottom: 35rpx;
    display: flex;
    align-items: center;
    background: white;
    justify-content: space-between;
    padding: 10rpx
}

.img{
    width: 120rpx;
    height: 120rpx;
    display: block;
    background: #00BFFF;
    border-radius: 50%;
    line-height: 150rpx;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.update{
    font-size: 30rpx;
    margin: 0;
}

.info{
    width: 100%;
    background: white;
    height: 80rpx;
    font-size: 37rpx;
    line-height: 75rpx;
}

.go{
    float: right;
    margin-right: 20rpx;
    font-size: 30rpx;
    margin-left: 10rpx;
}