.card{
    width: 40%;
    border: 15px solid #FF7F50;
    height: 195px;
    color: #FF7F50;
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 5%;
    display: inline-block;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.9);
}

.name{
    margin-left: 5%;
    margin-top: 10px;
    display: block;
}

.score{
    font-size: 100px;
    margin-left: 30%;
}
