.calendar {
  font-size: 28px;
  line-height: 30px;
  color: 	#666;
  background-color: #FCFCFC;
}
.calendar .month {
  float: left;
  width: 52px;
  padding: 10px 0;
  text-align: center;
}
.calendar .week-chinese {
  display: flex;
  justify-content: space-around;
}
.calendar .week-chinese .date-item {
  padding: 10px 34px;
  border-radius: 10px;
  text-align: center;
}
.calendar .today {
  background-color: #F0F0F0;
}
