page{
    background: #F5F5F5
 }

 .examTime{
    background: #1E90FF;
    width: 16%;
    text-align: center;
    height: 113px;
    font-size: 37px;
    display: inline-block;
    margin-right: 40px;
    word-break: break-all;
    border-radius: 4px;
    padding-top: 15px;
 }

 .examView{
    background: #87CEEB;
    height: 125px;
    margin-top: 15px;
    color: white;
    padding: 20px;
    padding-left: 7%;
 }

 .head{
    height: 70px;
    background: white;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.back{
    float: left;
    transform: scaleY(1.5);
    width: 10%;
    font-size: 40px;
}
