.position_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
  line-height: 30px;
  background-color: #fff;
}
.scroll_view {
  line-height: 60px;
  background-color: #fff;
}
.week_item {
  display: inline;
}
.week_item Text {
  padding: 10px;
}
.left-section {
  width: 52px;
  float: left;
}
.left-section-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  color: #666;
  text-align: center;
  align-items: center;
}
.left-section-wrapper View {
  height: 60PX;
  line-height: 60PX;
  vertical-align: middle;
}
.course-content-right {
  display: flex;
  justify-content: space-around;
}
.course-content-right .col {
  width: 100%;
}
.course-item-outer {
  position: relative;
}
.overlap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  font-size: 24px;
  line-height: 24px;
  border-radius: 12px;
  color: red;
  border: 1px solid red;
}
.course-item {
  color: #fff;
  background-color: aqua;
  font-size: 28px;
  text-align: center;
  width: 90%;
  border-radius: 10px;
  padding: 8px;
  box-sizing: border-box;
  position: absolute;
}
