.result{
    background: #00FF7F;
    width: 15%;
    display: inline-block;
    height: 115px;
    font-size: 38px;
    color: white;
    line-height: 120px;
    margin-left: 5%;
    margin-top: 1.5%;
    text-align: center;
    border-radius: 8px;
}

.info{
    width: 45%;
    display: inline-block;
    padding-left: 2%;
    font-size: 27px;
    color: gray;
}
