page{
   background: #F5F5F5
}

.choose {
    width: 100%;
    height: 100px;
    line-height: 80px;
    padding-left: 20px;
}

.textHidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 400px;
}

.arrow{
    float: right;
    margin-right: 40px;
    color: gray;
    font-size: 30px;
    transform: scaleY(1.5);
}

.img{
    width: 150px;
    height: 150px;
    display: block;
    background: #00BFFF;
    border-radius: 50%;
    line-height: 150px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.loginBnt{
    width: 145px;
    height: 70px;
    font-size: 35px;
    top: 35px;
    background: #00BFFF;
    color: white;
    right: 70px;
    line-height: 65px;
}

.icon{
    font-size: 60px;
    line-height: 100px;
    color: gray;
}

.go{
    font-size: 40px;
    float: right;
    padding-right: 85px;
    line-height: 100px;
}

.head-image{
    width: 150px;
    margin: auto;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 20px;
}

.bnt{
    text-align: left;
    background: transparent;
}

.bnt::after{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #DCDCDC;
}

.group{
    width: 85%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 50px;
    background: white;
}
