page{
   background: #F5F5F5
}

.choose {
    width: 100%;
    height: 100rpx;
    line-height: 80rpx;
    padding-left: 20rpx;
}

.textHidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 400rpx;
}

.arrow{
    float: right;
    margin-right: 40rpx;
    color: gray;
    font-size: 30rpx;
    transform: scaleY(1.5);
}

.name{
    width: 150rpx;
    height: 150rpx;
    display: inline-block;
    background: #00BFFF;
    border-radius: 50%;
    line-height: 150rpx;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.loginBnt{
    width: 145rpx;
    height: 70rpx;
    font-size: 35rpx;
    top: 35rpx;
    background: #00BFFF;
    color: white;
    right: 70rpx;
    line-height: 65rpx;    
}

.icon{
    font-size: 60rpx;
    line-height: 100rpx;
    color: gray;
}

.go{
    font-size: 40rpx;
    float: right;
    padding-right: 85rpx;
    line-height: 100rpx;
}

.head-image{
    padding-top: 5px;
    background: white;
    padding-left: 50rpx;
    display: flex;
    padding-bottom: 5rpx;
    width: 85%;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 20rpx;
    margin-top: 3%;
}

.bnt{
    text-align: left;
    background: transparent;
}

.bnt::after{
    border-radius: 0;
    border: none;
    border-bottom: 1rpx solid #DCDCDC;
}

.group{
    width: 85%;
    margin: auto;
    border-radius: 10rpx;
    margin-bottom: 15rpx;
    background: white;
}